.footer {
    background-color: #D4EBF8;
    color: black; 
    text-align: center; 
    padding: 20px 0; /* Espaçamento superior e inferior */
    position: fixed; /* Fixa o footer na parte inferior da página */
    bottom: 0; /* Posiciona o footer na parte inferior */
    width: 100%; /* Faz o footer ocupar toda a largura da tela */
    font-size: 14px; 
    font-family: Arial, sans-serif; 
}

.footer-content {
    margin: 0;
    background-color: #D4EBF8;
}